.login-page-wrapper {
  padding: 50px 0;
  height: 100vh;

  #login-page-inner {
    max-width: 1340px;
    margin: 0 auto;
    color: black;
    text-align: center;

    .login-page-title {
      font-size: 28px;
      margin-bottom: 10px;
      font-family: "Manrope-Bold";
    }

    form {
      display: inline-block;
      .login-section {
        label {
          font-size: 18px;
          display: inline-block;
          margin-right: 10px;
          font-family: "Manrope-Bold";
        }
        .login-input {
          font-size: 18px;
          display: inline-block;
          margin-bottom: 20px;
          padding: 10px;
          border-radius: 10px;
          border: 1px solid;
          background-color: white;
        }
      }

      #login-input-button {
        padding: 10px;
        border: 1px solid black;
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }
}
